nav {
    background-color: #0f57a1;
}

nav a {
    color: whitesmoke;
}

.container h2 {
    margin: 10px;

}

.title {
    margin: 10px;
    border: solid;
    border-radius: 7px;
    border-color: #0f57a1;
}

h2 {

    border-radius: 7px;
    color: rgb(0, 0, 0);
}

h3 {

    padding: 5px;
    margin: 10px;
    border: solid;
    border-radius: 7px;
    border-color: #0f57a1;


}

h4 {
    padding: 5px;
    margin: 10px;
    border: solid;
    border-radius: 7px;
    border-color: #0f57a1;
}

h5 {
    padding: 5px;
    margin: 10px;
    border: solid;
    border-radius: 7px;
    border-color: #0f57a1;
}

h6 {
    padding: 5px;
    margin: 10px;
    border: solid;
    border-radius: 7px;
    border-color: #0f57a1;
}

p {
    color: rgb(150, 150, 150);
}

li {
    color: rgb(150, 150, 150);
}

.blue {
    font-weight: bold;

    color: #0f57a1;
}

li {
    list-style-type: circle;

}

td {
    color: rgb(150, 150, 150);
}

#quiz-img {
    width: 150px;
    min-width: 100px;
    max-width: 300px;
}

h6 {
    font-size: large;
}



.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #0e59b5;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

select {
    color: whitesmoke;
    background-color: #0e59b5;
}

#lang {
    color: whitesmoke;
}