body {

    height: 10000px;

}

nav {
    background-color: #0f57a1;
}

nav a {
    color: whitesmoke;
}

/*start head*/
.container {}

.container .title {
    color: #0f57a1;
}

.container p {
    color: #f99023;
}

.container hr {
    color: #0f57a1;
}

/*end head*/
.container-body {
    height: 300px;
    bottom: auto;
}

.card-1 {
    border-radius: 1rem;
}

select {
    color: whitesmoke;
    background-color: #0f57a1;
}

#lang {
    color: whitesmoke;
}

#sub-title {
    font-size: 25px;
}